@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

li{
  list-style: none;
}

img {
  height: 100%;
  width: 100%;
}

.bg-dark{
  background-color: #444;
  color: #fff;
}

.bg-primary{
  background-color: #f8b195;
  color: #333;
}

.flexBetween{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn{
  padding: 10px 15px;
  border: 1px dotted #333;
}

.btn:hover{
  cursor: pointer;
  background-color: #f1c376;
  transition: 1s ease-in;
}

/* Auth Form Styling */
.auth-page {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}


.auth-form {
  width: 100%;
  padding: 20px;
}

.auth-form form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.form-controller {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  padding: 10px 0;
}

.form-controller label {
  align-self: flex-start;
  margin-bottom: 10px;
}

